@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

body{
	background-color:$mainBG;
	font: $light 16px/25px $primaryFont;
}

p{margin-bottom:15px;}

i, em{font-style:italic;}

h2{
	font: $regular 30px/46px $primaryFont;
	position: relative;
    text-align: center;
    z-index: 1; 
    margin-bottom: 30px;
	span{
		background-color:$mainBG;
		padding:0 20px;
	} //span
	&:before {
	    border-top: 3px solid $rhOrange;
	    content:"";
	    margin: 0 auto;
	    position: absolute;
	    top: 24px; left: 0; right: 0; bottom: 0;
	    width: 100%;
	    z-index: -1;
	} //before
} //h2

h4{
	font-size:20px;
	line-height:28px;
	font-weight: $regular;
	color: rgb(48,48,48);
	margin-bottom:3px;
} //h4

footer h4{text-transform:uppercase;}

a{
	text-decoration:none;
	color: $rhOrange;
} //a

input[type="submit"]{
	border:none;
}

.aligncenter{
	display:block;
	margin:0 auto;
}

.alignright{float: right;}

.bx-caption{
	font-style:italic;
	font-size:15px;
	line-height:20px;
}
