// Susy setup --------------------------------------------
$total-columns  : 7;
$column-width   : 4.25em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

@include border-box-sizing;

$small					: 20em 29em;
$medium					: 35em;
$large					: 48em;
$desktop				: 64em;

body{
	@include at-breakpoint($large){
		font-size:19px;
		line-height:28px;
	} //large
	@include at-breakpoint($desktop){
		font-size:22px;
		line-height:31px;
	}
} //body


h2{
	@include at-breakpoint($large){
    	width: columns(6,7);
    	margin: 0 auto;
    	margin-bottom:35px;
    } //large
}

h4{
	@include at-breakpoint($desktop){
		font-size: 24px;
	} //desktop
} //h4

img{
	&.wide-size{
		display:none;
		@include at-breakpoint($large){
			display:block;
		} //large
	} //wide-size
	&.mobile{
		display:block;
		@include at-breakpoint($large){
			display:none;
		} //large
	} //mobile
} //img

.layout{
	width: columns(6,7);
	margin:0 auto;
	img{
		width: 100%;
	}
	@include at-breakpoint($desktop){
		width: columns(5,7);
	}
}
header#header{
	background-image:url('images/mock-embossed_smaller_pattern.jpg');
	overflow:hidden;

	.branding{
		@include at-breakpoint ($medium){
			@include span-columns(2, 7);
		} //large
		@include at-breakpoint($large){
			padding-left:30px;
		} //large
		&.wide-size{
			display:none;
			@include at-breakpoint($medium){
				display:block;
			} //medium
		} //wide-size
		&.portrait{
			@include at-breakpoint($medium){
				display:none;
			} //medium
		} //portrait
		img{
			width:133px;
			margin:0 auto;
			display:block;
			padding:20px 0;
			@include at-breakpoint($medium){
				padding: 30px 0 10px;
			} //medium
			@include at-breakpoint($large){
				width: 200px;
				margin: 0;
				padding-top:15px;
			} //large
		} //img
	} //branding

	#contact-header{
		display:none;
	}
} //branding

// Navigation --------------------------------------------
header nav#menu{
	text-align:center;
	padding-top:10px;
	position:relative;
	z-index:3;
	background-color: $mainBG;
	@include at-breakpoint($medium){
		background-color: transparent;
		@include span-columns(5 omega,7);
		padding-top:48px;
		text-align:right;
		padding-right:20px;
	} //medium
	@include at-breakpoint($large){
		@include span-columns(4 omega, 7);
		padding-top:70px;
	} //large
	@include at-breakpoint($desktop){
		padding-right:40px;
	} //desktop
	li{
		display:inline-block;
		font-size:12px;
		line-height:15px;
		font-weight: $bold;
		margin-right:40px;
		position:relative;
		@include at-breakpoint($large){
			font-size:15px;
		}
		&:before{
			height:27px; 
			width:27px;
			position:absolute;
			@include background-size(27px 27px);
			background-repeat:no-repeat;
			background-position:center top;
			left: 50%;
			margin-left:-13px;
		} //li:before
		a{
			padding-top:40px;
			display:inline-block;
			text-decoration:none;
			color: $black;
			text-transform: uppercase;
			padding-bottom:5px;
		} //a
		&.current-menu-item a, &.current-page-ancestor a{
			border-bottom:5px solid $rhOrange;
		}
		&.portfolio{
			&:before{
				content: '';
				background-image:url('images/portfolio-icon-grey.png');
			} //before	
			&:hover, &.current-menu-item{
				&:before{background-image:url('images/portfolio-icon-orange.png');}
			} //hover
		} //portfolio
		&.home{
			&:before {
				content: '';
				background-image:url('images/home-icon-grey.png');
			} //before
			&:hover, &.current-menu-item{
				&:before{background-image:url('images/home-icon-orange.png');}
			}
		} //home
		&.about{
			&:before{
				content: '';
				background-image:url('images/about-icon-grey.png');
			} //before
			&:hover, &.current-menu-item{
				&:before{background-image:url('images/about-icon-orange.png');}
			} //hover
		} //about
		&.contact{	
			margin-right:0;	
			&:before{
				content: '';
				background-image:url('images/contact-icon-grey.png');
			} //contact:before
			&:hover, &.current-menu-item{
				&:before{background-image:url('images/contact-icon-orange.png');}
			} //hover
		} //contact
	} //li
} //header nav#menu

header #contact-header{
	#contact-email{
		float:left;
	}
}

// Hero --------------------------------------------
div.hero{
	position:relative;
	display:block;
	width:100%;
	min-height:175px;
	background-position: center top;
	@include background-size(cover);
	background-repeat:no-repeat;
	margin: 0 auto;
	@include clearfix;
	@include at-breakpoint($large){
		min-height:225px;
	}
	@include at-breakpoint($desktop){
		min-height:425px;
	}
}

.page-template-page-project-php{
	div.hero{
		@include at-breakpoint($medium){
			min-height:225px;
			@include background-size(100%);
		} //medium
	} //div.hero
} //page-template-page-project-php

.entry-content{
	padding: 30px 0 70px;
}

// Home Page --------------------------------------------
.home-blurb{
	text-align:center;
	padding-bottom:50px;
	p{
		@include at-breakpoint($large){
			width: columns(6,7);
			margin:0 auto 15px;
		} //large
	} //p
} //home-blurb

// Portfolio Page --------------------------------------------
.feature{
	margin-bottom:50px;
	img{
		margin: 10px 0 15px;
	} //img
	@include at-breakpoint($large){
		width: columns(5,7);
		p:last-of-type{
			width: 87%;
			margin: 0 auto;
		}
	} //large
} //.portfolio

// Projects --------------------------------------------
.bx-caption {
	@include span-columns(4,7);
	&.full-caption{
		@include span-columns(6, 7);
		@include at-breakpoint($large){
			width: auto;
		}
	} //.bx-caption.full-caption
} //.bx-caption

.bx-viewport{
	@include at-breakpoint($medium){
		min-height:366px;
	} //medium
	@include at-breakpoint($desktop){
		min-height:250px;
		margin-bottom:20px;
	} //desktop
	img{
		max-height: 334px;
		@include at-breakpoint($medium){
			max-height:510px;
		} //medium
		@include at-breakpoint($large){
			max-height: 740px;
		} //large
		@include at-breakpoint($desktop){
			max-height: 208px;
		} //desktop
	} //img
} //bx-viewport

.bx-controls{
	@include span-columns(3 omega,7);
	margin-top:-55px;
	position:relative;
	z-index:3;
	background-color: $mainBG;
	text-align:right;
	border-left: 1px solid rgb(207,207,207);
	@include at-breakpoint($desktop){
		margin-top:-75px;
	}
	.zoom-slide{
		display:none;
		@include at-breakpoint($desktop){
			display:inline-block;
			background: url('images/zoom-icon.png') no-repeat;
			height: 20px;
			width:20px;
			@include background-size(contain);
		} //desktop
	} //zoom-slide
	.bx-controls-direction{
		a{
			display:inline-block;
			height:20px;
			width:20px;
		} //a
	} //.bx-controls-direction
	.bx-prev{
		background-image: url('images/left-arrow-med-orange.png');
		@include background-size(contain);
		background-repeat:no-repeat;
		&.disabled{
			background-image: url('images/left-arrow-med-grey.png');
			cursor: default;
		} //bx-prev.disabled
	} //bx-prev

	.bx-next{
		background-image: url('images/right-arrow-med-orange.png');
		@include background-size(contain);
		background-repeat:no-repeat;
		margin-left:50px;
		&.disabled{
			background-image: url('images/right-arrow-med-grey.png');
			cursor: default;
		} //bx-next.disabled
		@include at-breakpoint($desktop){
			margin:0;
		}
	} //bx-next
	.zoom-slide{
		margin:0 20px 0 15px;
	}
} //bx-controls

#project-header{
	position:absolute;
	bottom:0;
	background-color: rgba(0,0,0,.61);
	color: rgb(241,241,241);
}

// Footer --------------------------------------------
footer#footer{
	@include clearfix;
	#newsletter{
		background-image:url('images/mock-embossed_smaller_pattern.jpg');
		padding: 30px 0;
		overflow:hidden;
		.layout{
			@include at-breakpoint($desktop){
				width: columns(6,7);
			} //desktop
		} //layout
	} //newsletter
} //footer

