// Contact Header --------------------------------------------
header #contact-header{
	overflow:hidden;
	padding-bottom:10px;
	#contact-email{
		margin-left:21px;
		a{
			color: $fontColor;
			&:before{
				content: '';
				width:13px;
				height: 15px;
				background-image: url('images/contact-email-icon.png');
				@include background-size(contain);
				position:absolute;
				background-repeat: no-repeat;
				margin-left:-17px;
				margin-top:7px;
			} //a:before
		} //a
	} // contact-email
	#contact-phone{
		float:right;
		span{
			&:before{
				content: '';
				width:13px;
				height: 15px;
				background-image: url('images/contact-phone-icon.png');
				@include background-size(contain);
				position:absolute;
				background-repeat: no-repeat;
				margin-left:-17px;
				margin-top:7px;
			}
		}
	} //contact-phone
	#close-contact{
		margin-bottom:10px;
		overflow:hidden;
		cursor: pointer;
		img{
			width:auto;
			height:30px;
			float:right;
		}
	}
} //contact-header
// Navigation --------------------------------------------
/* Effect 4: bottom border enlarge */
#menu a {
	padding: 0 0 10px;
	position:relative;
}

#menu a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: $rhOrange;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

#menu a:hover::after,
#menu a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Icon Wobble Vertical */
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hvr-icon-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-vertical:before {
  content: "\f062";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-vertical:hover:before, .hvr-icon-wobble-vertical:focus:before, .hvr-icon-wobble-vertical:active:before {
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

// Featured Work --------------------------------------------
#featured-work-container{
	.featured-work{
		margin-bottom:35px;
		img{
			width: 100%;
			margin-bottom:15px;
		} //img
	} //.featured-work
} //#featured-work-container

// Why Roundhex --------------------------------------------
#why-roundhex{
	text-align:center;
	padding-bottom:70px;
	img{
		width:100%;
		margin-bottom:30px;
	} //img
	a:after{
		content: '';
		background: url('images/right-arrow-thin.png') no-repeat center bottom;
		background-size:6px;
		position:absolute;
		width:6px;
		height:18px;
		padding-left:5px
	} //a:After
}//why roundhex

// Project ------------------------------

#project-header{
	width:100%;
	padding:15px 0;
	text-align:center;
	h1{
		font-size:24px;
		line-height:30px;
	} //h1
	h3{
		font-size:16px;
	}
}
.story-gallery{
	margin-bottom:60px;
	overflow:hidden;
}
.story-text{margin-bottom:20px;}
#intro-blurb{padding-bottom:70px;}

.photo-container{
	position:relative;
	overflow:hidden;
	img{
		width: 100%;
	} //img
} //photo-container

#testimonial{
	min-height:290px;
	@include background-size(cover);
	background-repeat:no-repeat;
	background-position:20%;
	padding: 20px 0;
	blockquote{
		text-align:center;
		color: $white;
		margin-bottom:15px;
		p{
			font-size: 25px;
			line-height:34px;
			font-style: italic;	
			position:relative;
			z-index: 2;
		}
		&:before, &:after{
			content: '';
			height:63px;
			width: 79px;
			position:absolute;
		}
		&:before{
			background: url('images/left-quotes.png') no-repeat;
			@include background-size(contain);	
			margin-top:40px;
			left:20px;
		} //blockquote:before
		&:after{
			background: url('images/right-quotes.png') no-repeat;
			@include background-size(contain);
			margin-top: -90px;
			right:15px;
		} //blockquote:after
	} //blockquote
} //testimonial

#testimonial-source{
	text-align: center;
	color: $white;
	font-size:14px;
	line-height:20px;
	margin-bottom:20px;
	&:before{
		content:"\2014";
	} //testimonial-source:before
}//testimonial-source

#client-site{
	text-align:center;
	a{
		background-color: $rhOrange;
		color: $white;
		font-size:16px;
		line-height:20px;
		padding: 5px 20px;
		font-weight: $regular;
		@include border-radius;
		img{
			height: 12px;
			width: 12px;
		} //img
	} //a
} //client-site

.more-work{
	margin-bottom:40px;
	text-align:center;
	img{
		width: 95%;
	}
	&.current-work{
		background-color: rgba(0,0,0,.15);
		position:relative;
		padding: 10px 0 15px;
		p#now-viewing{
			color: $white;
			font-style:italic;
			font-size: 40px;
			line-height:50px;
			font-weight: $bold;
			top: 25%;
			position:absolute;
			text-align: center;
			width: 100%;
		} //p#now-viewing
	} //.more-work.current-work
} //.more-work

// Project Navigation --------------------------------------------
#project-pagination{
	.next-arrow{
		a{
			left: 100%;
			margin-left: -38px;
		} // a
	} //next arrow

	.prev-arrow{
		a{
			left:-45px;
		} 
	} //prev arrow
	a{
		height: 38px;
		width: 38px;
		position: fixed;
		z-index: 9;
		top: 50%;
		img{
				height:38px;
				-webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3));
  				filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3));
			}
		
	} //a
} //project-pagination

// About --------------------------------------------
.team-member, .alum{
	margin-bottom:70px;
	img{
		width: columns(4,7);
		margin-bottom:10px;
	} //img

	h4{
		font-weight: $bold;
		font-size:18px;
		line-height:22px;
	} //h4
	h5{
		font-weight: $bold;
		font-size:14px;
		line-height:17px;
		margin-bottom: 20px;
	} //h5
} //team-member

#talent-pool{
	text-align:center;
	margin-bottom:80px;
}

#why-roundhex-full{
	img{
		width: columns(4,7);
		margin-top: 55px;
	} //img
	h4{
		font-weight: $bold;
		font-size:18px;
		line-height:22px;
	} //h4
	h5{
		font-weight: $bold;
		font-size:14px;
		line-height:17px;
		margin-bottom: 20px;
		&~p{
			font-size:15px;
		}
	} //h5
} //why-roundhex-full


// Footer --------------------------------------------
#newsletter{
	p{
		font-size: 14px;
		line-height: 20px;
		margin-bottom:10px;
	} //p
	input#mc4wp_email{
		background-color: $mainBG;
		font-size:14px;
		padding: 5px;
		@include border-radius;
		@include box-shadow(rgba(0,0,0,.14) 2px 2px 6px inset);
		border:none;
		@include input-placeholder{
			color: rgb(207,207,207);
		}
		margin-bottom:15px;
	} //email input

	input#mc_submit{
		padding:10px 15px;
		background-color: $disabledButton;
		@include border-radius;
		color: $buttonText;
		font-size:14px;
		&.orange{
			background-color: $rhOrange;
			color: #ffffff;
		}
	} //subscribe button
} //newsletter

#copyright{
	background-color: $rhOrange;
	color: #ffffff;
	text-align:center;
	padding:15px 0;
} //copyright