// Navigation --------------------------------------------
/* Effect 4: bottom border enlarge */
#menu a {
	padding: 0 0 10px;
	position:relative;
}

#menu a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: $rhOrange;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

#menu a:hover::after,
#menu a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Icon Wobble Vertical */
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hvr-icon-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-vertical:before {
  content: "\f062";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-vertical:hover:before, .hvr-icon-wobble-vertical:focus:before, .hvr-icon-wobble-vertical:active:before {
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

// Featured Work --------------------------------------------
#featured-work-container{
	.featured-work{
		margin-bottom:35px;
		img{
			width: 100%;
			margin-bottom:15px;
		} //img
	} //.featured-work
} //#featured-work-container

// Why Roundhex --------------------------------------------
#why-roundhex{
	text-align:center;
	padding-bottom:70px;
	img{
		width:100%;
		margin-bottom:30px;
	} //img
	a:after{
		content: '';
		background: url('images/right-arrow-thin.png') no-repeat center bottom;
		background-size:6px;
		position:absolute;
		width:6px;
		height:18px;
		padding-left:5px
	} //a:After
}//why roundhex

// Footer --------------------------------------------
#newsletter{
	p{
		font-size: 14px;
		line-height: 20px;
		margin-bottom:10px;
	} //p
	input#mc4wp_email{
		background-color: $mainBG;
		font-size:14px;
		padding: 5px;
		@include border-radius;
		@include box-shadow(rgba(0,0,0,.14) 2px 2px 6px inset);
		border:none;
		@include input-placeholder{
			color: rgb(207,207,207);
		}
		margin-bottom:15px;
	} //email input

	input#mc_submit{
		padding:10px 15px;
		background-color: $disabledButton;
		@include border-radius;
		color: $buttonText;
		font-size:14px;
		&.orange{
			background-color: $rhOrange;
			color: #ffffff;
		}
	} //subscribe button
} //newsletter

#copyright{
	background-color: $rhOrange;
	color: #ffffff;
	text-align:center;
	padding:15px 0;
} //copyright