// Contact Header --------------------------------------------
header #contact-header{
	overflow:hidden;
	padding-bottom:10px;
	#contact-email{
		margin-left:21px;
		a{
			color: $fontColor;
			&:before{
				content: '';
				width:13px;
				height: 15px;
				background-image: url('images/contact-email-icon.png');
				@include background-size(contain);
				position:absolute;
				background-repeat: no-repeat;
				margin-left:-17px;
				margin-top:7px;
			} //a:before
		} //a
		@include at-breakpoint($medium){
			margin-top:15px;
			margin-left: 65px;
		} //medium
	} // contact-email
	
	#contact-phone{
		float:right;
		span{
			&:before{
				content: '';
				width:13px;
				height: 15px;
				background-image: url('images/contact-phone-icon.png');
				@include background-size(contain);
				position:absolute;
				background-repeat: no-repeat;
				margin-left:-17px;
				margin-top:7px;
			} //span:before
		} //span
		@include at-breakpoint($medium){
			margin: 15px 20px 0 0;
		} //medium
	} //contact-phone
	#close-contact{
		margin-bottom:10px;
		overflow:hidden;
		cursor: pointer;
		img{
			width:auto;
			height:30px;
			float:right;
		} //img
		@include at-breakpoint($medium){
			float:right;
		} //medium
	} //close-contact
} //contact-header
// Navigation --------------------------------------------
/* Effect 4: bottom border enlarge */
#menu a {
	padding: 0 0 10px;
	position:relative;
}

#menu a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: $rhOrange;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

#menu a:hover::after,
#menu a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Icon Wobble Vertical */
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hvr-icon-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-vertical:before {
  content: "\f062";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-vertical:hover:before, .hvr-icon-wobble-vertical:focus:before, .hvr-icon-wobble-vertical:active:before {
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

// Featured Work --------------------------------------------
#featured-work-container{
	.featured-work{
		margin-bottom:35px;
		img{
			width: 100%;
			margin-bottom:15px;
		} //img
		a{
			display:block;
		}
		span{
			display:block
		}
		@include at-breakpoint($medium){
			a, span{
				display:inline;
			}
			a:after{
					content: '|';
					color: rgb(179,179,179);
					padding: 0 20px;
			} //a:after
		} //medium
	} //.featured-work
} //#featured-work-container

// Why Roundhex --------------------------------------------
#why-roundhex{
	text-align:center;
	img{
		width:100%;
		margin-bottom:30px;
		&.wide-size{
			display:none;
		}
		@include at-breakpoint($medium){
			&.portrait-size{
				display:none;
			}
			&.wide-size{
				display:block;
			}
		} //medium
	} //img
	a:after{
		content: '';
		background: url('images/right-arrow-thin.png') no-repeat center bottom;
		background-size:6px;
		position:absolute;
		width:6px;
		height:18px;
		padding-left:5px
	} //a:After
}//why roundhex

// Portfolio Page --------------------------------------------
#portfolio{
	p{margin-bottom:0;}
}

// Project ------------------------------

#project-header{
	width:100%;
	padding:15px 0;
	text-align:center;
	h1{
		font-size:24px;
		line-height:30px;
	} //h1
	h3{
		font-size:16px;
	}
}

#project-story{
	.wide-size{
		display:none;
		@include at-breakpoint($large){
			display:block;
			margin-bottom: 40px;
		} //large
	} //wide-size
} //project-story
.story-gallery{
	margin-bottom:60px;
	overflow:hidden;
}
.story-text{
	margin-bottom:20px;
	p{
		@include at-breakpoint($large){
			font-size: 15px;
			line-height:25px;
		} //large
	} //p
	h4{
		font-size: 17px;
		line-height:25px;
	} //h4
}
#intro-blurb{
	padding-bottom:70px;
	@include at-breakpoint($medium){
		padding-bottom:30px;
	}
}

.photo-container{
	position:relative;
	overflow:hidden;
	img{
		width: 100%;
	} //img
} //photo-container

#testimonial{
	min-height:290px;
	@include background-size(cover);
	background-repeat:no-repeat;
	background-position:20%;
	padding: 20px 0;
	blockquote{
		text-align:center;
		color: $white;
		width: 75%;
		margin: 15px auto;
		@include at-breakpoint($medium){
			max-width:377px;
		} //medium
		@include at-breakpoint($large){
			max-width: 500px;
		} //large
		p{
			font-size: 25px;
			line-height:34px;
			font-style: italic;	
			position:relative;
			z-index: 2;
		} //p
		&:before, &:after{
			content: '';
			height:63px;
			width: 79px;
			position:absolute;
		} //&:before, &:after
		&:before{
			background: url('images/left-quotes.png') no-repeat;
			@include background-size(contain);	
			margin-top:40px;
			margin-left:-180px;
			@include at-breakpoint($medium){
				margin-top:20px;
				margin-left:-225px;
			} //medium
			@include at-breakpoint($large){
				margin-left:-290px;
			} //large
		} //blockquote:before
		&:after{
			background: url('images/right-quotes.png') no-repeat;
			@include background-size(contain);
			margin-top: -104px;
			margin-left:80px;
			@include at-breakpoint($medium){
				margin-top:-93px;
				margin-left:160px;
			} //medium
			@include at-breakpoint($large){
				margin-left:210px;
			} //large
		} //blockquote:after
	} //blockquote
} //testimonial

#testimonial-source{
	text-align: center;
	color: $white;
	font-size:14px;
	line-height:20px;
	margin-bottom:20px;
	&:before{
		content:"\2014";
	} //testimonial-source:before
}//testimonial-source

#client-site{
	text-align:center;
	margin-bottom:10px;
	a{
		background-color: $rhOrange;
		color: $white;
		font-size:16px;
		line-height:20px;
		padding: 5px 20px;
		font-weight: $regular;
		@include border-radius;
		img{
			height: 12px;
			width: 12px;
		} //img
	} //a
} //client-site

.more-work{
	margin-bottom:40px;
	.more-work-details{
		text-align:center;
	}
	
	a{
		@include at-breakpoint($medium){
			display:inline;
			&:after{
				content: '|';
				color: #b3b3b3;
				padding: 0 20px;
			} //a:after
		} //medium
	} //a
	p{
		@include at-breakpoint($medium){
			display:inline;
		}
	}
	&.current-work{
		background-color: rgba(0,0,0,.15);
		position:relative;
		padding: 10px 10px 15px;
		p{
			margin-bottom:0;
			&.title-nolink{
				color: rgb(142,142,142);
				@include at-breakpoint($medium){
					&:after{
						content: '|';
						color: #b3b3b3;
						padding: 0 20px;
					} //p.title-nolink:after
				} //medium
			} //p.title-nolink
		} //p
		p#now-viewing{
			color: $white;
			font-style:italic;
			font-size: 40px;
			line-height:50px;
			font-weight: $bold;
			top: 25%;
			position:absolute;
			text-align: center;
			width: 100%;
			@include at-breakpoint($medium){
				top: 31%;
			}
		} //p#now-viewing
	} //.more-work.current-work
} //.more-work

// Project Navigation --------------------------------------------
#project-pagination{
	.next-arrow{
		a{
			left: 100%;
			margin-left: -38px;
		} // a
	} //next arrow

	.prev-arrow{
		a{
			left:-45px;
		} 
	} //prev arrow
	a{
		height: 38px;
		width: 38px;
		position: fixed;
		z-index: 9;
		top: 50%;
		img{
				height:38px;
				-webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3));
  				filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3));
			}
		
	} //a
} //project-pagination

// About --------------------------------------------
.team-member, .alum{
	margin-bottom:70px;
	overflow:hidden;
	div{
		@include at-breakpoint($large){
			@include span-columns(2,7);
		} //large
	} //div
	img{
		width: columns(4,7);
		margin-bottom:10px;
		@include at-breakpoint($medium){
			width: columns(2,7);	
		} //medium
		@include at-breakpoint($large){
			width: 100%;
		} //large
	} //img

	h4{
		font-weight: $bold;
		font-size:18px;
		line-height:22px;
	} //h4
	h5{
		font-weight: $bold;
		font-size:14px;
		line-height:17px;
		margin-bottom: 20px;
	} //h5
	p{
		@include at-breakpoint($large){
			@include span-columns(5 omega, 7);
			font-size: 15px;
			line-height: 25px;
			padding-left:10px;
		} //large
	} //p
} //team-member

#talent-pool{
	text-align:center;
	margin-bottom:80px;
}

#why-roundhex-full{
	overflow:hidden;
	@include at-breakpoint($large){
		.why-story{
			margin-top:50px;
			overflow:hidden;
			div{
				@include span-columns(2,7);
			} //div
		} //why-story
	} //large
	img{
		width: columns(4,7);
		margin-top: 55px;
		@include at-breakpoint($medium){
			width: columns(2,7);	
		} //medium
		@include at-breakpoint($large){
			width:100%;
			margin-top:0;
		}
	} //img
	h4{
		font-weight: $bold;
		font-size:18px;
		line-height:22px;
	} //h4
	h5{
		font-weight: $bold;
		font-size:14px;
		line-height:17px;
		margin-bottom: 20px;
	} //h5
	.layout div ~ p{
		font-size:15px;
		@include at-breakpoint($large){
			@include span-columns(5 omega, 7);
			padding-left:10px;
		}
	}
} //why-roundhex-full


// Footer --------------------------------------------
#newsletter{
	p{
		font-size: 14px;
		line-height: 20px;
		margin-bottom:10px;
	} //p
	input#mc4wp_email{
		background-color: $mainBG;
		font-size:14px;
		padding: 5px;
		@include border-radius;
		@include box-shadow(rgba(0,0,0,.14) 2px 2px 6px inset);
		border:none;
		@include input-placeholder{
			color: rgb(207,207,207);
		}
		margin-bottom:15px;
		max-width: 90%;
	} //email input

	input#mc_submit{
		padding:10px 15px;
		background-color: $disabledButton;
		@include border-radius;
		color: $buttonText;
		font-size:14px;
		&.orange{
			background-color: $rhOrange;
			color: #ffffff;
		}
	} //subscribe button
	#mc_signup_details{
		@include at-breakpoint($medium){
			@include span-columns(4, 7);
		} //medium
		@include at-breakpoint($large){
			@include span-columns(3,7);
		}
	} //mc_signup_details

	#mc_signup_action{
		padding-left:15px;
		@include at-breakpoint($medium){
			@include span-columns(3 omega, 7);
		} //medium
		@include at-breakpoint($large){
			@include span-columns(4 omega, 7);
		} //large

		} //mc_signup_action
} //newsletter

#copyright{
	background-color: $rhOrange;
	color: #ffffff;
	text-align:center;
	padding:15px 0;
} //copyright