
// Colors --------------------------------------------
$black: rgb(0,0,0);
$white: #ffffff;
$mainBG: rgb(250,249,249);
$rhOrange: rgb(255,139,96);
$disabledButton: rgb(142,142,142);
$fontColor: rgb(92,92,92);
$buttonText: rgb(226, 226, 226);

// Font --------------------------------------------
$primaryFont: 'Lato', sans-serif;

$bold: 700;
$light: 300;
$regular: 400;

// Defaults --------------------------------------------
$default-border-radius: 5px;