@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
/* line 5, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/** An element that fades in and slides from the right */
/* line 14, _/components/sass/_mixins.scss */
.scene_element--fadeinright {
  animation-name: fadeInRight;
}

/* line 3, _/components/sass/_base.scss */
body {
  background-color: #faf9f9;
  font: 300 16px/25px "Lato", sans-serif;
}

/* line 8, _/components/sass/_base.scss */
p {
  margin-bottom: 15px;
}

/* line 10, _/components/sass/_base.scss */
i, em {
  font-style: italic;
}

/* line 12, _/components/sass/_base.scss */
h2 {
  font: 400 30px/46px "Lato", sans-serif;
  position: relative;
  text-align: center;
  z-index: 1;
  margin-bottom: 30px;
}
/* line 18, _/components/sass/_base.scss */
h2 span {
  background-color: #faf9f9;
  padding: 0 20px;
}
/* line 22, _/components/sass/_base.scss */
h2:before {
  border-top: 3px solid #ff8b60;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

/* line 33, _/components/sass/_base.scss */
h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #303030;
  margin-bottom: 3px;
}

/* line 41, _/components/sass/_base.scss */
footer h4 {
  text-transform: uppercase;
}

/* line 43, _/components/sass/_base.scss */
a {
  text-decoration: none;
  color: #ff8b60;
}

/* line 48, _/components/sass/_base.scss */
input[type="submit"] {
  border: none;
}

/* line 52, _/components/sass/_base.scss */
.aligncenter {
  display: block;
  margin: 0 auto;
}

/* line 57, _/components/sass/_base.scss */
.alignright {
  float: right;
}

/* line 59, _/components/sass/_base.scss */
.bx-caption {
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
}

/* line 14, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, _/components/sass/_layout.scss */
.layout {
  width: 85.31469%;
  margin: 0 auto;
}
/* line 16, _/components/sass/_layout.scss */
.layout img {
  width: 100%;
}

/* line 20, _/components/sass/_layout.scss */
header#header {
  background-image: url("images/mock-embossed_smaller_pattern.jpg");
}
/* line 23, _/components/sass/_layout.scss */
header#header .branding img {
  width: 133px;
  margin: 0 auto;
  display: block;
  padding: 20px 0;
}
@media (min-width: 35em) {
  /* line 23, _/components/sass/_layout.scss */
  header#header .branding img {
    padding: 30px 0 10px;
  }
}
/* line 33, _/components/sass/_layout.scss */
header#header #contact-header {
  display: none;
}

/* line 39, _/components/sass/_layout.scss */
header nav#menu {
  text-align: center;
  padding-top: 10px;
  position: relative;
  z-index: 3;
  background-color: #faf9f9;
}
@media (min-width: 35em) {
  /* line 39, _/components/sass/_layout.scss */
  header nav#menu {
    background-color: transparent;
    width: 70.62937%;
    float: right;
    margin-right: 0;
    padding-top: 48px;
  }
}
/* line 50, _/components/sass/_layout.scss */
header nav#menu li {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  margin-right: 40px;
  position: relative;
}
/* line 57, _/components/sass/_layout.scss */
header nav#menu li:before {
  height: 27px;
  width: 27px;
  position: absolute;
  -moz-background-size: 27px 27px;
  -o-background-size: 27px 27px;
  -webkit-background-size: 27px 27px;
  background-size: 27px 27px;
  background-repeat: no-repeat;
  background-position: center top;
  left: 50%;
  margin-left: -13px;
}
/* line 67, _/components/sass/_layout.scss */
header nav#menu li a {
  padding-top: 40px;
  display: inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding-bottom: 5px;
}
/* line 75, _/components/sass/_layout.scss */
header nav#menu li.current-menu-item a, header nav#menu li.current-page-ancestor a {
  border-bottom: 5px solid #ff8b60;
}
/* line 78, _/components/sass/_layout.scss */
header nav#menu li.portfolio:before {
  content: '';
  background-image: url("images/portfolio-icon-grey.png");
}
/* line 81, _/components/sass/_layout.scss */
header nav#menu li.portfolio:before:hover, header nav#menu li.portfolio:before.current-menu-item {
  background-image: url("images/portfolio-icon-orange.png");
}
/* line 85, _/components/sass/_layout.scss */
header nav#menu li.home:before {
  content: '';
  background-image: url("images/home-icon-grey.png");
}
/* line 88, _/components/sass/_layout.scss */
header nav#menu li.home:before:hover, header nav#menu li.home:before.current-menu-item {
  background-image: url("images/home-icon-orange.png");
}
/* line 92, _/components/sass/_layout.scss */
header nav#menu li.about:before {
  content: '';
  background-image: url("images/about-icon-grey.png");
}
/* line 95, _/components/sass/_layout.scss */
header nav#menu li.about:before:hover, header nav#menu li.about:before.current-menu-item {
  background-image: url("images/about-icon-orange.png");
}
/* line 99, _/components/sass/_layout.scss */
header nav#menu li.contact {
  margin-right: 0;
}
/* line 101, _/components/sass/_layout.scss */
header nav#menu li.contact:before {
  content: '';
  background-image: url("images/contact-icon-grey.png");
}
/* line 104, _/components/sass/_layout.scss */
header nav#menu li.contact:before:hover, header nav#menu li.contact:before.current-menu-item {
  background-image: url("images/contact-icon-orange.png");
}

/* line 113, _/components/sass/_layout.scss */
header #contact-header #contact-email {
  float: left;
}

/* line 119, _/components/sass/_layout.scss */
div.hero {
  position: relative;
  display: block;
  width: 100%;
  min-height: 175px;
  background-position: center top;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media (min-width: 35em) {
  /* line 119, _/components/sass/_layout.scss */
  div.hero {
    min-height: 225px;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
}

/* line 134, _/components/sass/_layout.scss */
.entry-content {
  padding: 30px 0 70px;
}

/* line 139, _/components/sass/_layout.scss */
.home-blurb {
  text-align: center;
  padding-bottom: 50px;
}

/* line 145, _/components/sass/_layout.scss */
.feature {
  margin-bottom: 50px;
}
/* line 147, _/components/sass/_layout.scss */
.feature img {
  margin: 10px 0 15px;
}

/* line 153, _/components/sass/_layout.scss */
.bx-caption {
  width: 55.94406%;
  float: left;
  margin-right: 2.7972%;
  display: inline;
}
/* line 155, _/components/sass/_layout.scss */
.bx-caption.full-caption {
  width: 85.31469%;
  float: left;
  margin-right: 2.7972%;
  display: inline;
}

@media (min-width: 35em) {
  /* line 160, _/components/sass/_layout.scss */
  .bx-viewport {
    min-height: 366px;
  }
}

/* line 166, _/components/sass/_layout.scss */
.bx-controls {
  width: 41.25874%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: -55px;
  position: relative;
  z-index: 3;
  background-color: #faf9f9;
  text-align: right;
  border-left: 1px solid #cfcfcf;
}
/* line 175, _/components/sass/_layout.scss */
.bx-controls .bx-controls-direction a {
  display: inline-block;
  height: 20px;
  width: 20px;
}
/* line 181, _/components/sass/_layout.scss */
.bx-controls .bx-prev {
  background-image: url("images/left-arrow-med-orange.png");
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 185, _/components/sass/_layout.scss */
.bx-controls .bx-prev.disabled {
  background-image: url("images/left-arrow-med-grey.png");
  cursor: default;
}
/* line 191, _/components/sass/_layout.scss */
.bx-controls .bx-next {
  background-image: url("images/right-arrow-med-orange.png");
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 50px;
}
/* line 196, _/components/sass/_layout.scss */
.bx-controls .bx-next.disabled {
  background-image: url("images/right-arrow-med-grey.png");
  cursor: default;
}

/* line 203, _/components/sass/_layout.scss */
#project-header {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.61);
  color: #f1f1f1;
}

/* line 211, _/components/sass/_layout.scss */
footer#footer {
  overflow: hidden;
  *zoom: 1;
}
/* line 213, _/components/sass/_layout.scss */
footer#footer #newsletter {
  background-image: url("images/mock-embossed_smaller_pattern.jpg");
  padding: 30px 0;
  overflow: hidden;
}

/* line 2, _/components/sass/_modules.scss */
header #contact-header {
  overflow: hidden;
  padding-bottom: 10px;
}
/* line 5, _/components/sass/_modules.scss */
header #contact-header #contact-email {
  margin-left: 21px;
}
/* line 7, _/components/sass/_modules.scss */
header #contact-header #contact-email a {
  color: #5c5c5c;
}
/* line 9, _/components/sass/_modules.scss */
header #contact-header #contact-email a:before {
  content: '';
  width: 13px;
  height: 15px;
  background-image: url("images/contact-email-icon.png");
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  margin-left: -17px;
  margin-top: 7px;
}
/* line 22, _/components/sass/_modules.scss */
header #contact-header #contact-phone {
  float: right;
}
/* line 25, _/components/sass/_modules.scss */
header #contact-header #contact-phone span:before {
  content: '';
  width: 13px;
  height: 15px;
  background-image: url("images/contact-phone-icon.png");
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  margin-left: -17px;
  margin-top: 7px;
}
/* line 38, _/components/sass/_modules.scss */
header #contact-header #close-contact {
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}
/* line 42, _/components/sass/_modules.scss */
header #contact-header #close-contact img {
  width: auto;
  height: 30px;
  float: right;
}

/* Effect 4: bottom border enlarge */
/* line 51, _/components/sass/_modules.scss */
#menu a {
  padding: 0 0 10px;
  position: relative;
}

/* line 56, _/components/sass/_modules.scss */
#menu a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ff8b60;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* line 73, _/components/sass/_modules.scss */
#menu a:hover::after,
#menu a:focus::after {
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* Icon Wobble Vertical */
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 147, _/components/sass/_modules.scss */
.hvr-icon-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 160, _/components/sass/_modules.scss */
.hvr-icon-wobble-vertical:before {
  content: "\f062";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 169, _/components/sass/_modules.scss */
.hvr-icon-wobble-vertical:hover:before, .hvr-icon-wobble-vertical:focus:before, .hvr-icon-wobble-vertical:active:before {
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* line 182, _/components/sass/_modules.scss */
#featured-work-container .featured-work {
  margin-bottom: 35px;
}
/* line 184, _/components/sass/_modules.scss */
#featured-work-container .featured-work img {
  width: 100%;
  margin-bottom: 15px;
}
/* line 188, _/components/sass/_modules.scss */
#featured-work-container .featured-work a {
  display: block;
}
/* line 191, _/components/sass/_modules.scss */
#featured-work-container .featured-work span {
  display: block;
}
@media (min-width: 35em) {
  /* line 195, _/components/sass/_modules.scss */
  #featured-work-container .featured-work a, #featured-work-container .featured-work span {
    display: inline;
  }
  /* line 198, _/components/sass/_modules.scss */
  #featured-work-container .featured-work a:after {
    content: '|';
    color: #b3b3b3;
    padding: 0 20px;
  }
}

/* line 208, _/components/sass/_modules.scss */
#why-roundhex {
  text-align: center;
}
/* line 210, _/components/sass/_modules.scss */
#why-roundhex img {
  width: 100%;
  margin-bottom: 30px;
}
/* line 213, _/components/sass/_modules.scss */
#why-roundhex img.wide-size {
  display: none;
}
@media (min-width: 35em) {
  /* line 217, _/components/sass/_modules.scss */
  #why-roundhex img.portrait-size {
    display: none;
  }
  /* line 220, _/components/sass/_modules.scss */
  #why-roundhex img.wide-size {
    display: block;
  }
}
/* line 225, _/components/sass/_modules.scss */
#why-roundhex a:after {
  content: '';
  background: url("images/right-arrow-thin.png") no-repeat center bottom;
  background-size: 6px;
  position: absolute;
  width: 6px;
  height: 18px;
  padding-left: 5px;
}

/* line 238, _/components/sass/_modules.scss */
#portfolio p {
  margin-bottom: 0;
}

/* line 243, _/components/sass/_modules.scss */
#project-header {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
/* line 247, _/components/sass/_modules.scss */
#project-header h1 {
  font-size: 24px;
  line-height: 30px;
}
/* line 251, _/components/sass/_modules.scss */
#project-header h3 {
  font-size: 16px;
}

/* line 255, _/components/sass/_modules.scss */
.story-gallery {
  margin-bottom: 60px;
  overflow: hidden;
}

/* line 259, _/components/sass/_modules.scss */
.story-text {
  margin-bottom: 20px;
}

/* line 260, _/components/sass/_modules.scss */
#intro-blurb {
  padding-bottom: 70px;
}

/* line 262, _/components/sass/_modules.scss */
.photo-container {
  position: relative;
  overflow: hidden;
}
/* line 265, _/components/sass/_modules.scss */
.photo-container img {
  width: 100%;
}

/* line 270, _/components/sass/_modules.scss */
#testimonial {
  min-height: 290px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
  padding: 20px 0;
}
/* line 276, _/components/sass/_modules.scss */
#testimonial blockquote {
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}
/* line 280, _/components/sass/_modules.scss */
#testimonial blockquote p {
  font-size: 25px;
  line-height: 34px;
  font-style: italic;
  position: relative;
  z-index: 2;
}
/* line 287, _/components/sass/_modules.scss */
#testimonial blockquote:before, #testimonial blockquote:after {
  content: '';
  height: 63px;
  width: 79px;
  position: absolute;
}
/* line 293, _/components/sass/_modules.scss */
#testimonial blockquote:before {
  background: url("images/left-quotes.png") no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin-top: 40px;
  left: 20px;
}
/* line 299, _/components/sass/_modules.scss */
#testimonial blockquote:after {
  background: url("images/right-quotes.png") no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin-top: -90px;
  right: 15px;
}

/* line 308, _/components/sass/_modules.scss */
#testimonial-source {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
/* line 314, _/components/sass/_modules.scss */
#testimonial-source:before {
  content: "\2014";
}

/* line 319, _/components/sass/_modules.scss */
#client-site {
  text-align: center;
}
/* line 321, _/components/sass/_modules.scss */
#client-site a {
  background-color: #ff8b60;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 20px;
  font-weight: 400;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 329, _/components/sass/_modules.scss */
#client-site a img {
  height: 12px;
  width: 12px;
}

/* line 336, _/components/sass/_modules.scss */
.more-work {
  margin-bottom: 40px;
  text-align: center;
}
/* line 339, _/components/sass/_modules.scss */
.more-work img {
  width: 95%;
}
/* line 342, _/components/sass/_modules.scss */
.more-work.current-work {
  background-color: rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 10px 0 15px;
}
/* line 346, _/components/sass/_modules.scss */
.more-work.current-work p#now-viewing {
  color: #ffffff;
  font-style: italic;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  top: 25%;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 363, _/components/sass/_modules.scss */
#project-pagination .next-arrow a {
  left: 100%;
  margin-left: -38px;
}
/* line 370, _/components/sass/_modules.scss */
#project-pagination .prev-arrow a {
  left: -45px;
}
/* line 374, _/components/sass/_modules.scss */
#project-pagination a {
  height: 38px;
  width: 38px;
  position: fixed;
  z-index: 9;
  top: 50%;
}
/* line 380, _/components/sass/_modules.scss */
#project-pagination a img {
  height: 38px;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

/* line 390, _/components/sass/_modules.scss */
.team-member, .alum {
  margin-bottom: 70px;
}
/* line 392, _/components/sass/_modules.scss */
.team-member img, .alum img {
  width: 55.94406%;
  margin-bottom: 10px;
}
/* line 397, _/components/sass/_modules.scss */
.team-member h4, .alum h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
/* line 402, _/components/sass/_modules.scss */
.team-member h5, .alum h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

/* line 410, _/components/sass/_modules.scss */
#talent-pool {
  text-align: center;
  margin-bottom: 80px;
}

/* line 416, _/components/sass/_modules.scss */
#why-roundhex-full img {
  width: 55.94406%;
  margin-top: 55px;
}
/* line 420, _/components/sass/_modules.scss */
#why-roundhex-full h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
/* line 425, _/components/sass/_modules.scss */
#why-roundhex-full h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
/* line 430, _/components/sass/_modules.scss */
#why-roundhex-full h5 ~ p {
  font-size: 15px;
}

/* line 439, _/components/sass/_modules.scss */
#newsletter p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
/* line 444, _/components/sass/_modules.scss */
#newsletter input#mc4wp_email {
  background-color: #faf9f9;
  font-size: 14px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.14) 2px 2px 6px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 2px 2px 6px inset;
  box-shadow: rgba(0, 0, 0, 0.14) 2px 2px 6px inset;
  border: none;
  margin-bottom: 15px;
  max-width: 90%;
}
/* line 61, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#newsletter input#mc4wp_email:-moz-placeholder {
  color: #cfcfcf;
}
/* line 64, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#newsletter input#mc4wp_email::-moz-placeholder {
  color: #cfcfcf;
}
/* line 67, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#newsletter input#mc4wp_email:-ms-input-placeholder {
  color: #cfcfcf;
}
/* line 56, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#newsletter input#mc4wp_email::-webkit-input-placeholder {
  color: #cfcfcf;
}
/* line 458, _/components/sass/_modules.scss */
#newsletter input#mc_submit {
  padding: 10px 15px;
  background-color: #8e8e8e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #e2e2e2;
  font-size: 14px;
}
/* line 464, _/components/sass/_modules.scss */
#newsletter input#mc_submit.orange {
  background-color: #ff8b60;
  color: #ffffff;
}
@media (min-width: 35em) {
  /* line 469, _/components/sass/_modules.scss */
  #newsletter #mc_signup_details {
    width: 55.94406%;
    float: left;
    margin-right: 2.7972%;
  }
}
@media (min-width: 35em) {
  /* line 475, _/components/sass/_modules.scss */
  #newsletter #mc_signup_action {
    width: 41.25874%;
    float: right;
    margin-right: 0;
  }
}

/* line 482, _/components/sass/_modules.scss */
#copyright {
  background-color: #ff8b60;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}
