@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
/* line 5, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, _/components/sass/_base.scss */
body {
  background-color: #faf9f9;
  padding-top: 10px;
  font: 300 17px/25px "Lato", sans-serif;
}

/* line 9, _/components/sass/_base.scss */
h2 {
  font: 400 30px/46px "Lato", sans-serif;
  position: relative;
  text-align: center;
  z-index: 1;
  margin-bottom: 30px;
}
/* line 15, _/components/sass/_base.scss */
h2 span {
  background-color: #faf9f9;
  padding: 0 20px;
}
/* line 19, _/components/sass/_base.scss */
h2:before {
  border-top: 3px solid #ff8b60;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

/* line 30, _/components/sass/_base.scss */
h4 {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  color: #303030;
  margin-bottom: 3px;
}

/* line 39, _/components/sass/_base.scss */
a {
  text-decoration: none;
  color: #ff8b60;
}

/* line 44, _/components/sass/_base.scss */
input[type="submit"] {
  border: none;
}

/* line 48, _/components/sass/_base.scss */
.aligncenter {
  display: block;
  margin: 0 auto;
}

/* line 53, _/components/sass/_base.scss */
.alignright {
  float: right;
}

/* line 14, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, _/components/sass/_layout.scss */
.layout {
  width: 85.31469%;
  margin: 0 auto;
}

/* line 17, _/components/sass/_layout.scss */
.branding {
  background-image: url("images/mock-embossed_smaller_pattern.jpg");
}
/* line 20, _/components/sass/_layout.scss */
.branding img {
  width: 133px;
  margin: 0 auto;
  display: block;
  padding: 20px 0;
}

/* line 29, _/components/sass/_layout.scss */
header nav#menu {
  text-align: center;
}
/* line 31, _/components/sass/_layout.scss */
header nav#menu li {
  display: inline-block;
  -moz-background-size: 27px 27px;
  -o-background-size: 27px 27px;
  -webkit-background-size: 27px 27px;
  background-size: 27px 27px;
  background-repeat: no-repeat;
  background-position: center top;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  margin-right: 40px;
}
/* line 40, _/components/sass/_layout.scss */
header nav#menu li a {
  padding-top: 40px;
  display: inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding-bottom: 5px;
}
/* line 48, _/components/sass/_layout.scss */
header nav#menu li.current-menu-item a {
  border-bottom: 5px solid #ff8b60;
}
/* line 51, _/components/sass/_layout.scss */
header nav#menu li.portfolio {
  background-image: url("images/portfolio-icon-grey.png");
}
/* line 53, _/components/sass/_layout.scss */
header nav#menu li.portfolio:hover, header nav#menu li.portfolio.current-menu-item {
  background-image: url("images/portfolio-icon-orange.png");
}
/* line 57, _/components/sass/_layout.scss */
header nav#menu li.home {
  background-image: url("images/home-icon-grey.png");
}
/* line 59, _/components/sass/_layout.scss */
header nav#menu li.home:hover, header nav#menu li.home.current-menu-item {
  background-image: url("images/home-icon-orange.png");
}
/* line 63, _/components/sass/_layout.scss */
header nav#menu li.about {
  background-image: url("images/about-icon-grey.png");
}
/* line 65, _/components/sass/_layout.scss */
header nav#menu li.about:hover, header nav#menu li.about.current-menu-item {
  background-image: url("images/about-icon-orange.png");
}
/* line 69, _/components/sass/_layout.scss */
header nav#menu li.contact {
  background-image: url("images/contact-icon-grey.png");
  margin-right: 0;
}
/* line 72, _/components/sass/_layout.scss */
header nav#menu li.contact:hover, header nav#menu li.contact.current-menu-item {
  background-image: url("images/contact-icon-orange.png");
}

/* line 80, _/components/sass/_layout.scss */
div.hero {
  position: relative;
  display: block;
  min-height: 175px;
  background-position: center top;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

/* line 91, _/components/sass/_layout.scss */
.home-blurb {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

/* line 98, _/components/sass/_layout.scss */
footer#footer {
  overflow: hidden;
  *zoom: 1;
}
/* line 100, _/components/sass/_layout.scss */
footer#footer #newsletter {
  background-image: url("images/mock-embossed_smaller_pattern.jpg");
  padding: 30px 0;
}

/* line 3, _/components/sass/_modules.scss */
#featured-work-container .featured-work {
  margin-bottom: 35px;
}
/* line 5, _/components/sass/_modules.scss */
#featured-work-container .featured-work img {
  width: 100%;
  margin-bottom: 15px;
}

/* line 13, _/components/sass/_modules.scss */
#why-roundhex {
  text-align: center;
  padding-bottom: 70px;
}
/* line 16, _/components/sass/_modules.scss */
#why-roundhex img {
  width: 100%;
  margin-bottom: 30px;
}
/* line 20, _/components/sass/_modules.scss */
#why-roundhex a:after {
  content: '';
  background: url("images/right-arrow-thin.png") no-repeat center bottom;
  background-size: 6px;
  position: absolute;
  width: 6px;
  height: 18px;
  padding-left: 5px;
}

/* line 33, _/components/sass/_modules.scss */
#newsletter p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
/* line 38, _/components/sass/_modules.scss */
#newsletter input#mc4wp_email {
  background-color: #faf9f9;
  font-size: 14px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.14) 2px 2px 6px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 2px 2px 6px inset;
  box-shadow: rgba(0, 0, 0, 0.14) 2px 2px 6px inset;
  border: none;
  margin-bottom: 15px;
}
/* line 61, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#newsletter input#mc4wp_email:-moz-placeholder {
  color: #cfcfcf;
}
/* line 64, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#newsletter input#mc4wp_email::-moz-placeholder {
  color: #cfcfcf;
}
/* line 67, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#newsletter input#mc4wp_email:-ms-input-placeholder {
  color: #cfcfcf;
}
/* line 56, ../../../../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#newsletter input#mc4wp_email::-webkit-input-placeholder {
  color: #cfcfcf;
}
/* line 51, _/components/sass/_modules.scss */
#newsletter input#mc_submit {
  padding: 10px 15px;
  background-color: #8e8e8e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #e2e2e2;
  font-size: 14px;
}
/* line 57, _/components/sass/_modules.scss */
#newsletter input#mc_submit.orange {
  background-color: #ff8b60;
  color: #ffffff;
}

/* line 64, _/components/sass/_modules.scss */
#copyright {
  background-color: #ff8b60;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}
